DATABASE_URL=postgresql://postgres:nisruksha-local-db@localhost:5432/nisru?schema=public
REDIS_URL=redis://127.0.0.1:6379
REDIS_PREFIX=nisruksha
DISCORD_TOKEN=
OAUTH2_SECRET=
BEST_TOKEN=
DBL_TOKEN=
DBL_WEBHOOK_AUTH_PASS=
