<% let isActiveClass = function (menu) { return menu === activeMenu ? 'is-active' : 'toactivehover' } %>
<aside class="menu aside">
  <p class="menu-label">
    Geral
  </p>
  <ul class="menu-list">
    <li><a class="<%= isActiveClass('Perfil') %>">Perfil</a></li>
    <li><a class="<%= isActiveClass('Guildas') %>">Guildas</a></li>
  </ul>
</aside>