<!DOCTYPE html>
<html lang="pt-BR">
    <head>
      <%- include('includes/head.ejs', {menuTitle: 'Início'}); %>
    </head>
    <body>
      
      <%- include('includes/navbar.ejs', {menuTitle: 'Início'}); %>

        <% if (logout) { %>

          <script src="/js/toastr/logout.js"></script>

        <% } if (login) { %>

          <script src="/js/toastr/login.js"></script>
          
        <% } if (loginerror) { %>

          <script src="/js/toastr/loginerror.js"></script>
          
        <% } if (log404) { %>

          <script src="/js/toastr/log404.js"></script>
          
        <% } if (timeout) { %>

          <script src="/js/toastr/timeout.js"></script>
          
        <% } if (requireLogged) { %>

          <script src="/js/toastr/requireLogged.js"></script>
          
        <% } %>

      <div style="border-style: solid;
      border-color: #07030f;padding: 15px;margin:15px; float:left;">

        <div>

          <div class="hover08 column">
            <div>
              <figure class="image"><img src="https://i.imgur.com/VgrIexv.png"/></figure>
            </div>


            <div>

              <section class="section">
                <h1 class="title" style="color: white">Mineração</h1>
                <h2 class="subtitle">
                  Um modo de Roleplay & Economia que te trás uma experiência incrível!
                  <br>Com um foco em mineração, você gasta a energia da sua máquina para obter recursos e ficar cada vez mais rico.
                </h2>
              </section>

            </div>

          </div>

        </div>

      </div>

      <div style="border-style: solid;
      border-color: #07030f;padding: 15px;margin:15px; margin-top: -100px; float:right">
      
        <div>

          <div class="hover08 column" style="float: right">

            <div>

              <section class="section">
                <h1 class="title" style="color: white;">Economia</h1>
                <h2 class="subtitle">
                  Faça já seus investimentos e aumente seus lucros, além de fazer<br>seus gastos comprando fichas ou reparando as máquinas quebradas.
                  <br>Também é possível comprar terrenos novos caso você trabalhe em uma empresa de agricultura!
                </h2>
              </section>

            </div>

            <div>
              <figure class="image"><img src="https://i.imgur.com/7zcVgoV.png"/></figure>
            </div>
          </div>

        </div>
    
      </div>

      <div style="border-style: solid;
      border-color: #07030f;padding: 15px;margin:15px; float:left;">

        <div>

          <div class="hover08 column">
            <div>
              <figure class="image"><img src="https://i.imgur.com/ccmU5FG.png"/></figure>
            </div>


            <div>

              <section class="section">
                <h1 class="title" style="color: white">Apostas</h1>
                <h2 class="subtitle">
                  Gaste seu dinheiro na loja para comprar fichas, ou seja o sortudo ganhando em caixas, e <br>
                  com elas você poderá apostar em jogos de cassino!<br>
                  E não é só gasto! Você também pode recuperar seu dinheiro gasto trocando de volta suas fichas para dinheiro.
                </h2>
              </section>

            </div>

          </div>

        </div>

      </div>

      <div style="border-style: solid;
      border-color: #07030f;padding: 15px;margin:15px; margin-top: -100px; float:right">
      
        <div>

          <div class="hover08 column" style="float: right">

            <div>

              <section class="section">
                <h1 class="title" style="color: white;">Empresas</h1>
                <h2 class="subtitle">
                  Faça a criação de sua própria empresa, contrate funcionários e gere lucros incríveis!
                  <br>Faça a melhor escolha de setor para a sua empresa, dentre vários!<br>Exploração, Agricultura, Pescaria e muitos futuros!
                </h2>
              </section>

            </div>

            <div>
              <figure class="image" width="75%" height="75%"><img width="75%" height="75%" src="https://media.discordapp.net/attachments/693945958857441331/803892605858480155/image.png?width=446&height=305"/></figure>
            </div>
          </div>

        </div>
    
      </div>

      <script src="/js/toastr/cookies.js"></script>


    </body>

    <%- include('includes/footer.ejs'); %>


</html>